@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Yekan";
    src: url("./assets/fonts/Yekan.ttf") format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Lalezar";
    src: url("./assets/fonts/Lalezar.ttf") format("ttf");
    font-display: swap;
  }
}
